<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

        <div class="row">
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="assets/images/about-img.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            {{aboutUs.title}}
                        </h2>
                    </div>
                    <p>
                        {{aboutUs.description}}
                    </p>
                    <!-- <a href="javascript:;">
                        Read More
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->